.about {
    height: auto;
}

#AboutMe_description.container {
    background-color: rgba(0, 0, 0, 0.323);
    border-radius: 5px;
    margin: auto;
    width: auto;
    text-align: left;
    height: auto;
    padding: 30px;
    font-size: 18px;
}

.img_container {
    width: auto;
    height: auto;
    margin-right: 30px;
}

.img_background {
    width: 300px;
    height: 415px;
    border-radius: 5px;
    border-style: double;
    background-image: url(images/background.jpg);
    background: linear-gradient(to right, #00695c, #00897b, #26a69a);
    margin-top: 30px;
    margin: auto;
    overflow: hidden;
}

#AboutMe img {
    width: auto;
    margin: auto;
    margin-top: 50px;
    height: 400px;
}

table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
}

th,
td {
    padding: 20px 60px;
    border: solid;
}

th {
    font-size: 18px;
    font-weight: 900;
    background-color: rgba(81, 141, 160, 0.6);
    border: solid white;
    border-width: 1px;
}

td {
    border-width: 0px 1px 0px 0px;
    ;
}

#Skills.container {
    margin: 70px auto;
    width: 50%;
    text-align: center;
}

.title {
    font-weight: bolder;
    font-size: 24px;
    margin: 50px 0px 10px;
}

.pre {
    white-space: pre;
    color: rgba(180, 243, 243, 0.9);
}

.skills p {
    margin: 5px;
}

.skills li {
    text-align: left;
}

#Hobbies.container {
    margin-top: 80px;
    width: 60%;
}

.black_container {
    background-color: rgba(0, 0, 0, 0.323);
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 30px;
    margin: 30px auto;
}

h2 {
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin: 95px auto 40px;
    border-top: solid rgba(255, 255, 255, 0.767);
    border-bottom: solid rgba(255, 255, 255, 0.767);
    padding: 5px 0px;
}

h3 {
    font-family: Poppins;
    font-size: 20px;
    color: rgba(180, 243, 243, 0.6);
    font: 500;
    margin-top: 0px;
}

.imgContainer {
    display: flex;
}

.imgContainer img {
    width: 250px;
    height: 250px;
    margin: auto;
    opacity: 70%;
}

#Hobbies button {
    margin: 15px 0px 0px;
    background-color: transparent;
    color: rgba(180, 243, 243, 0.6);
    border: solid rgba(180, 243, 243, 0.6);
    border-radius: 5px;
}

#Hobbies button:hover {
    cursor: pointer;
}

#Education.container {
    margin-top: 80px;
    width: 60%;
}

#Education .container {
    padding: 0px;
}

table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

th,
td {
    padding: 20px 60px;
    border: solid;
}

th {
    font-size: 18px;
    font-weight: 900;
    background-color: rgba(81, 141, 160, 0.6);
    border: solid white;
    border-width: 1px;
}

td {
    border-width: 0px 1px 0px 0px;
    ;
}