@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    overflow: hidden;
    margin: 0; 
}

.center-container {
    font-family: Poppins;
    margin: 100px auto;
    height: auto; 
    width: 300px;
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.323);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.center-container h1 {
    margin-top: 20px;
    color: #e22b2e; 
    font-size: 20px;
    background: none;
}

.center-container p {
    color: #dccbcb;
    font-size: 15px;
    margin-top: 10px; 
}

.circle-x-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px; 
}

.outer-circle {
    stroke: #e22b2e; 
    stroke-width: 4;
    fill: none;
}

.cross-line {
    stroke: #e22b2e; 
    stroke-width: 6;
}

footer {
    margin-top: 50px;
}
