.myProjects {
    margin: 0px 10px;
    text-align: center;
}

#Projects.container {
    height: auto;
    width: 60%;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.323);
    padding: 25px 15px 15px;
}

.projects_img {
    width: 280px;
    height: 310px;
    border-radius: 5px;
    opacity: 70%;
}

#Projects button {
    margin: 5px 10px;
    background-color: rgba(255, 255, 255, 0.552);
    color: black;
    border-radius: 50%;
    text-align: center;
}

#Projects button i {
    font-size: 1.2em; 
    vertical-align: middle;  
}