.projects {
    height: auto;
}

.myProjects {
    margin: 0px 10px;
    text-align: center;
}

#Projects.container {
    height: auto;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.323);
    padding: 25px 0px;
}

h1 {
    width: 90%;
}

h2 {
    font-family: Poppins;
    font-size: 18px;
    font: 500;
    margin-top: 0px;
}

.projects_img {
    width: 280px;
    height: 310px;
    border-radius: 5px;
    opacity: 70%;
}

#Projects button {
    margin: 5px 10px;
    background-color: rgba(255, 255, 255, 0.552);
    color: black;
    border-radius: 50%;
    text-align: center;
}

#Projects button i {
    font-size: 1.2em; 
    vertical-align: middle;  
}

#Content.container {
    height: auto;
    width: 90%;
    margin-top: 120px;
    justify-content: space-evenly;
    text-align: center;
}

.Lab_Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.323);
    padding: 30px;
}

.text_container {
    width: 60%;
    text-align: left;
}

.img_container {
    width: 40%;
}

.Lab_Content img {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    opacity: 70%;
}

.Lab_Content li {
    font-size: 15px;
}

a {
    font-weight: 900;
    color: #A4D6D6;
}